<?php
/*
 * Development configuration for application
 *
 * Used in case of WP_DEBUG == false
 */
return array(
    'host'          => 'http://the-path-to-your-elasticsearch-host.io',
    'port'          => '9200',
    'index'         => 'wp-elastic-api',
    'instance_name' => 'wp-elastic-api',
    'base_path'     => '/app/plugins/wp-elastic-api',
    'valid_ip'      => array(
        '127.0.0.1',
        '192.168.50.1',
    )
);
